h1{
  text-align: center;
  margin-bottom: auto;
  color: rgb(3, 3, 3);
  
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin:  0;
}

.calculator {
  background-color: rgb(68, 68, 131);
  border-radius: 10px;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background:rgb(69, 69, 138);
  margin-top: 50px;
}

.display {
  background-color: rgba(250, 243, 243, 0.938);
  color: rgb(15, 14, 14);
  font-size: 2em;
  text-align: right;
  padding: 20px;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(8, 8, 8);
  border: none;
  font-size: 1.5em;
  padding: 30px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.2s;

}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
